@event-list: event-list;

.@{event-list}-wrapper {
    background: #fff;
    .@{event-list}-sider{
        background: #fff;
        padding:10px
    }
  
  
}

@media screen and (max-width: 768px) {
  .@{event-list}-wrapper {
    // min-height: 880px;
    .@{event-list}-sider{
        padding:0
    }
  }
}
